
.ui.buttons
  &.compact
    .ui.button.icon
      padding-left: 0.4rem
      padding-right: 0.4rem
      box-shadow: none !important
      border-width: 0px
  &.basic
    .green.button
      background-color: rgb(33, 186, 69) !important
      color: white !important
      &:hover
        background-color: rgb(28, 165, 60) !important
    .red.button
      background-color: rgb(208, 25, 25) !important
      color: white !important
      &:hover
        background-color: rgb(158, 18, 18) !important
  .or.lined
    &::before
      border: 1px solid rgba(34,36,38,.15)
      line-height: 1.5 !important
      display: block
    &.blue::before
      border: 1px solid rgba(33, 133, 208,0.5) !important

.ui.header
  &.compact
    margin: 0.5rem 0
  .button.icon
    font-size: 1em
    &:first-of-type
      margin-left: 0.4rem
    &.compact
      box-shadow: none !important
      border-width: 0px
      padding: 0.4rem
      &:hover
        border-width: 0px
        box-shadow: none !important

.ui.menu
  &.sticky
    position: sticky
    top: 10px

.ui.button
  &.fill
    height:100%
  &.right.corner.reset
    background-color: transparent
    position: absolute
    right: 0
    top: 0
    margin: 0
  &.basic.compact
    box-shadow: none !important
    border-width: 0px
    padding: 0.4rem
    &:hover
      border-width: 0px
      box-shadow: none !important
.ui.label
  > .detail
    margin-left: 0.5em

.center
  text-align: center

.app.number
  display: flex
  justify-content: center
  align-items: center
  margin: 1.5rem 0
  flex-grow: 1
  .text
    position: relative
    flex-grow: 1
    display: inline-flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
  .label
    font-size: 1.5em
    margin: 5px 0.75rem
    &+ .value
      margin-right: 0.3rem
  .value
    font-size: 5em
    margin: 0 0.75rem
    line-height: 0.7
    &+ .label
      margin-left: 0
  .info
    flex-basis: 100%
  .message
    position: absolute
    font-size: 1.3em
    width: 90%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .ui.input > input
    border-radius: 0
  > *
    margin: 0
    border-radius: 0
    &:first-child
      border-top-left-radius: .28571429rem
      border-bottom-left-radius: .28571429rem
    &:last-child
      border-top-right-radius: .28571429rem
      border-bottom-right-radius: .28571429rem

.exercise
  &.ui.grid
    margin-top: 1rem
    .column.image
      padding: 0
      margin-left: -1rem
      .header
        margin-top: 1rem

.sequence
  &.ui.form
    margin-top: 1rem
  &.ui.list
    border: 1px solid rgba(34,36,38,.15)
    border-radius: 5px 5px 0 0
    margin: 1rem -1px 0 -1px
    overflow: hidden
    .label.alpha-index
      border-radius: 0
      border-width: 0
      float: left
      transform: translate(-0.6em, 0.6em)
    .item.compact
      padding-top: 0.5rem
      padding-bottom: 0.5rem
    > .item
      &:last-child
        padding-bottom: 0.21428571em
      > .header
        margin-bottom: 5px
    > .item, > .header
      position: relative
      padding-left: 0.5rem
      padding-right: 0.5rem
    > .header
      background-color: rgba(34,36,38,.15)
      line-height: 2
      margin-bottom: 0
  &.props
    .toggle.checkbox // corresponds to radio button
      margin: 0.5rem    

.indent
  @each $width in [0,1,2,3,4,5,6]
    &-#{$width}
      padding-left: #{$width  * 0.9}rem !important

.float-right
  float: right !important

.full-width
  width: 100%

.ui.list
  .list
    &.icon
      padding: 0
  &[class*="middle aligned"]
    > .item
      display: flex
      flex-wrap: wrap
      align-items: center
      > img.image + .content
        width: calc(100% - 80px)
      &.active
        > img.image + .content
          width: 100%

.ui.segment.basic
  padding: 1rem 0

.segment.workout.history
  .card.list
    margin-top: 1rem
    .ui.cards
      margin-top: 1rem
      margin-bottom: 0
      .card
        margin-bottom: 0
        &.active
          cursor: default
        &:hover:not(.active)
          cursor: pointer
        &.active, &:hover
          z-index: 5
          transform: translateY(-3px)

.ui.image
  &.loading
    position: absolute
    margin-top: 0
    opacity: 0.5
  &.exercise-image
    transition: width 200ms

.ui.form
  display: flex
  flex-wrap: wrap
  align-content: stretch
  .field
    &:not(.inline)
      flex-basis: 100%
    &.inline
      flex-grow: 1
    .ui.label
      flex-shrink: 1
      border-radius: 5px !important
      margin: 1px 2px 1px 1px
    .labeled
      &.dropdown, &.input input
        flex-grow: 1
        max-width: 300px
      &.input
        input
          border-radius: 3px !important
          border: 1px solid rgba(34,36,38,.15) !important

$delays: ('none':0,'short':1000ms,'medium':2000ms,'long':3000ms,'extended':5000ms)
$fadeLengths: ('short':400ms,'medium':800ms,'long':1200ms,'extra-long':5000ms)
   
.fade-out
  @each $length, $fadeLength in $fadeLengths
    &-#{$length}
      animation: fadeOut $fadeLength ease-in forwards
.fade-in
  @each $length, $fadeLength in $fadeLengths
    &-#{$length}
      animation: fadeIn $fadeLength ease-in forwards

@each $length, $delayLength in $delays
  .delay-#{$length}
    animation-delay: $delayLength

@keyframes fadeOut
  100%
    opacity: 0
@keyframes fadeIn
  0%
    opacity: 0    
  100%
    opacity: 1
@keyframes name
  0%
    
  100%
    